.apptBtnSml {
  cursor: pointer;
  font-family: 'Ramabhadra', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  height: 2.5rem;
  width: 13.5rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  letter-spacing: .25px;
  background: var(--color-background-btn);
  color: var(--color-text-btn);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); }

.apptBtnSml:active {
  transform: scale(0.95); }

.yelllowTxt {
  cursor: pointer;
  letter-spacing: .75px;
  color: var(--color-text-main-yellow) !important; }

.yelllowTxt:active {
  transform: scale(0.9); }

.phoneNumber,
.email {
  font-family: 'Rambla', sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  letter-spacing: .25px;
  color: var(--color-text-header);
  margin-bottom: 1rem; }

.toTop {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 2rem;
  width: 2rem;
  margin-top: .5rem; }

.toTop:active {
  transform: scale(0.9); }

.emailSubmit {
  display: block;
  cursor: pointer;
  height: inherit;
  width: 2rem;
  background: var(--color-background-btn);
  color: var(--color-text-btn); }

.iconSml {
  display: block;
  height: 4.5rem;
  width: 4.5rem;
  margin-bottom: 1rem; }

.headingSml {
  color: var(--color-text-main-white);
  letter-spacing: .5px;
  font-size: 1.70rem;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 1rem; }

.listContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 10rem; }

.aboutList {
  color: var(--color-text-main-white);
  letter-spacing: .75px;
  font-size: .85rem;
  font-weight: 400;
  font-family: 'Ramabhadra', sans-serif; }

.center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center; }

.headingMedium {
  color: var(--color-text-main-white);
  letter-spacing: .5px;
  font-size: 2.3rem;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  margin: 0 auto 1rem auto; }

.footerTxtSml {
  color: var(--color-text-main-white);
  letter-spacing: .55px;
  font-size: 1rem;
  font-family: 'Rambla', sans-serif;
  margin-bottom: .5rem; }

:root {
  --color-background-header: #FDFDFD;
  --color-background-main: #001F3F;
  --color-background-about: #FF851B;
  --color-background-footer: #323131;
  --color-SVG-orange: #FF851B;
  --color-SVG-white: #FDFDFD;
  --color-SVG-yellow: #FFDC00;
  --color-text-header: #FFDC00;
  --color-text-main-white: #FDFDFD;
  --color-text-main-yellow:#FFDC00;
  --color-text-footer-white: #FDFDFD;
  --color-background-btn: #FF851B;
  --color-text-btn: #FDFDFD; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: none;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  text-decoration: none; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  text-decoration: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll; }

body {
  background: var(--color-background-main); }

#clearfix::after {
  content: "";
  clear: both;
  display: table; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.headingSml {
  color: var(--color-text-main-white);
  letter-spacing: .5px;
  font-size: 1.70rem;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 1rem; }

.headingMedium {
  color: var(--color-text-main-white);
  letter-spacing: .60px;
  font-size: 2.3rem;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  margin: 0 auto .75rem auto; }

.HContainer__companyTxt {
  font-family: 'Vibur', cursive;
  font-size: 4rem;
  font-weight: 400;
  color: var(--color-text-header); }

.navContainer__navBtn {
  font-family: 'Ramabhadra', sans-serif;
  font-size: 1.2rem;
  letter-spacing: .5px;
  font-weight: 400;
  text-decoration: underline;
  color: var(--color-SVG-orange); }

.aboutSummary {
  color: var(--color-text-main-white);
  font-family: 'Rambla', sans-serif;
  font-weight: 100;
  letter-spacing: .5px;
  font-size: 1.30rem;
  line-height: 1.90rem; }

.reviewColumn__review {
  color: var(--color-text-main-white);
  font-family: 'Rambla', sans-serif;
  font-weight: 100;
  letter-spacing: .5px;
  line-height: 1.45rem;
  font-size: 1.25rem; }
.reviewColumn__review::before {
  content: '\0022';
  color: var(--color-SVG-yellow);
  font-size: 6rem; }
.reviewColumn__review::after {
  content: '\0022';
  color: var(--color-SVG-yellow);
  font-size: 6rem; }

.footerTxtSml {
  color: var(--color-text-main-white);
  letter-spacing: .55px;
  font-size: 1rem;
  font-family: 'Rambla', sans-serif;
  margin-bottom: .5rem; }

.rowOneWrapper__Fc {
  color: var(--color-text-main-white);
  letter-spacing: .5px;
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Vibur', cursive; }
.rowOneWrapper__p {
  color: var(--color-text-main-white);
  letter-spacing: .55px;
  font-size: .85rem;
  font-family: 'Rambla', sans-serif;
  margin-bottom: .5rem; }

.formContainer__placehold,
form__placehold {
  font-family: 'Rambla', sans-serif;
  font-size: 1rem;
  letter-spacing: .6px; }

.aboutContainer {
  display: flex;
  flex-direction: column;
  grid-row: 5 / 6;
  grid-column: full-start / full-end;
  margin: 4rem 0 4rem 0;
  background-color: var(--color-background-about); }

.aboutWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  height: 100%; }

.aboutSummary {
  display: block;
  height: auto;
  margin: 0 1rem .75rem 1rem; }

.aboutBackgrounds {
  position: absolute;
  display: block;
  height: max-content;
  width: 95%;
  opacity: 90%;
  z-index: -1;
  margin-bottom: auto; }

.footerContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: var(--color-background-footer);
  grid-row: 8 / 9;
  grid-column: full-start / full-end; }

.contentWrappers {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: -1.5rem; }

.rowOneWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 1rem 0 1rem .5rem;
  width: 50%; }
  .rowOneWrapper__Fc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 1rem 2.5rem .5rem 0; }

.formContainer,
form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  height: 1.75rem;
  max-width: 15rem;
  background-color: #FDFDFD; }
  .formContainer__placehold,
  form__placehold {
    display: flex;
    height: inherit;
    width: inherit; }

.rowTwoWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 1rem; }

.socialMedia {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 50%; }
  .socialMedia__iconWrapper {
    display: flex;
    flex-direction: row; }
    .socialMedia__iconWrapper-icon {
      margin-right: .5rem; }
    .socialMedia__iconWrapper-icon:last-of-type {
      margin-right: 0; }

.HContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  grid-row: 1 / 2;
  grid-column: full-start / full-end;
  background-image: url("../img/Header_backgrounddesktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .HContainer__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    height: 50vh;
    width: 100%; }
  .HContainer__companyTxt {
    display: inline-block;
    margin-top: auto;
    margin-bottom: 1rem;
    margin-left: 1rem; }

.ctaWrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  bottom: 0;
  right: 0;
  height: 50%;
  margin: auto 1rem 0 0; }

.areaContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-items: center;
  display: grid;
  grid-row: 4 / 5;
  grid-column: full-start / full-end; }
  .areaContainer__map {
    display: block;
    width: 100%;
    margin-bottom: 1.5rem;
    z-index: 100; }

.imgGallery {
  display: grid;
  grid-row: 7 / 8;
  grid-column: center-start / center-end; }

.galleryWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100vw;
  overflow: hidden;
  flex-wrap: nowrap; }
  .galleryWrapper__img {
    display: block;
    height: 30rem;
    width: 100vw;
    border-radius: 20px; }

.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 100%;
  height: 10vh;
  border-radius: 5px;
  background: var(--color-background-header);
  grid-row: 2 / 3;
  grid-column: full-start / full-end; }
  .navContainer__navBtn {
    cursor: pointer; }

.servicesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 40;
  grid-row: 3 / 4;
  grid-column: full-start / full-end; }

.MainContainer {
  background: var(--color-background-main);
  display: grid;
  grid-template-rows: 50vh 10vh repeat(2, min-content) minmax(40vh, auto) repeat(3, min-content);
  grid-template-columns: [full-start] auto [center-start] repeat(7, [col-start] minmax(min-content, 5rem) [col-end]) [center-end] auto [full-end]; }

.testimonialContainer {
  display: grid;
  grid-row: 6 / 7;
  grid-column: full-start / full-end;
  margin-bottom: 2rem; }

.containerRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.reviewColumn {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .reviewColumn__img {
    display: block;
    height: 6rem;
    width: 6rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    border: 1px solid #fdfdfd; }
  .reviewColumn__review {
    margin-top: 1.5rem;
    margin-left: 1.5rem; }
  .reviewColumn__review::after {
    display: flex;
    width: 95%;
    justify-content: flex-end;
    margin-top: 2rem; }

@media only screen and (min-device-width: 360px) {
  .HContainer__companyTxt {
    font-size: 4.85rem; }

  .aboutList {
    font-size: .9rem; }

  .footerTxtSml {
    font-size: 1.25rem; }

  .toTop {
    height: 2.5rem;
    width: 2.5rem; } }
@media only screen and (min-device-width: 375px) {
  .HContainer__companyTxt {
    font-size: 5.25rem; } }
@media only screen and (min-device-width: 390px) {
  .HContainer__companyTxt {
    font-size: 5.5rem; }

  .aboutSummary {
    font-size: 1.45rem;
    line-height: 1.6rem;
    letter-spacing: .75px;
    font-weight: 100; } }
@media only screen and (min-device-width: 412px) {
  .HContainer__companyTxt {
    font-size: 6.25rem; }

  .headingMedium {
    font-size: 2.5rem;
    font-weight: 800; }

  .aboutSummary {
    font-size: 1.55rem;
    line-height: 1.90rem;
    letter-spacing: .75px;
    font-weight: 100; }

  .phoneNumber,
  .email,
  .yellowTxt {
    letter-spacing: .5px; }

  .toTop {
    height: 3rem;
    width: 3rem; } }
@media only screen and (max-device-width: 600px) {
  .navContainer {
    display: none !important; } }
@media only screen and (min-device-width: 600px) {
  .HContainer__companyTxt {
    font-size: 9.25rem; }

  .servicesContainer {
    margin-top: 4rem !important; }

  .aboutList {
    font-size: 1.05rem; }

  .headingSml {
    font-size: 2.75rem; }

  .headingMedium {
    font-size: 3.25rem;
    letter-spacing: .65px; }

  .apptBtnSml {
    width: 18rem;
    height: 2.75rem;
    font-size: 1.15rem;
    letter-spacing: .5px; }

  .phoneNumber,
  .email {
    font-size: 1.5rem; }

  .aboutBackgrounds {
    width: 80%; }

  .aboutSummary {
    font-size: 1.90rem;
    line-height: 2.75rem;
    letter-spacing: .85px;
    margin-top: 1rem;
    margin-bottom: 1rem; }

  .reviewColumn__review {
    letter-spacing: .65px;
    line-height: 1.55rem;
    margin-right: .75rem; }

  .reviewColumn__img {
    height: 7.5rem;
    width: 7.5rem;
    margin-bottom: 0; }

  .galleryWrapper {
    display: grid;
    grid-column: full-start / full-end;
    grid-template-columns: 2fr repeat(13, 1fr) 2fr;
    grid-template-rows: repeat(7, 5vw); }
    .galleryWrapper__img {
      height: 100%;
      width: 100%;
      border-radius: 0;
      margin-bottom: 2rem;
      border: 5px solid orange; }

  .img1 {
    grid-row: 3 / span 4;
    grid-column: 2 / span 4; }

  .img2 {
    grid-row: 2 / span 4;
    grid-column: 5 / span 4; }

  .img3 {
    grid-row: 3 / span 4;
    grid-column: 8 / span 4; }

  .img4 {
    grid-row: 2 / span 4;
    grid-column: 11 / span 4; }

  .rowOneWrapper {
    width: 45%; }

  .rowOneWrapper__p {
    font-size: 1.15rem; }

  .rowOneWrapper__Fc {
    font-size: 2.5rem;
    letter-spacing: .75px; }

  .rowTwoWrapper {
    width: 55%; }

  .socialMedia__iconWrapper-icon {
    height: 2rem;
    width: 2rem; }

  .footerTxtSml {
    font-size: 1.5rem; } }

/*# sourceMappingURL=style.css.map */
