:root {
    //BACKGROUNDS
        --color-background-header: #FDFDFD;
        --color-background-main: #001F3F; //Opacity 80%
        --color-background-about: #FF851B; //Opacity 80%
        --color-background-footer: #323131;
    
    //SVG
        --color-SVG-orange: #FF851B;
        --color-SVG-white: #FDFDFD;
        --color-SVG-yellow: #FFDC00;
    
    //TEXT
        --color-text-header: #FFDC00;
        --color-text-main-white: #FDFDFD;
        --color-text-main-yellow:#FFDC00;
        --color-text-footer-white: #FDFDFD;
    
    //BUTTONS
        --color-background-btn: #FF851B;
        --color-text-btn: #FDFDFD;
    }