
.aboutContainer {
    display: flex;
    flex-direction: column;
    grid-row: 5 / 6;
    grid-column: full-start / full-end;
    margin: 4.5rem 0 6.5rem 0;
    background-color: var(--color-background-about);
    border-radius: 45px 10px 45px 10px;
    // background-image: url("../img/aboutBackgrounds.svg");
    // background-repeat: no-repeat;
    // // background-position: center; 
    // background-size: cover;

}

.aboutWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.aboutHeading {

}

.aboutSummary {
    display: block;
    height: auto;
    margin: 0 1rem .75rem 1rem;
}

.aboutBackgrounds {
    position: absolute;
    display: block;
    height: max-content;
    width: 95%;
    opacity: 90%;
    z-index: -1;
    margin-bottom: auto;
}

