
.aboutContainer {
    display: flex;
    justify-content: center;
    grid-row: 5 / 6;
    grid-column: full-start / full-end;
    margin: 2rem 0 2rem 0;
}

.aboutHeading {
    position: absolute;
    margin-top: .70rem;
}

.aboutSummary {
    position: absolute;
    margin-top: 3.75rem;
    margin-right: 2rem;
    margin-left: 2rem;
    color: var(--color-text-main-white);
    font-family: 'Rambla', sans-serif;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.45rem;
    font-size: 1.25rem;
}

.aboutBackgrounds {
    display: block;
    height: auto;
    width: 95%;
    margin: .75rem auto .75rem auto;
}

