
.footerContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: var(--color-background-footer);
    grid-row: 8 / 9;
    grid-column: full-start / full-end;
}

.contentWrappers {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: -1.5rem;
}

.rowOneWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 1rem 0 1rem .5rem;
    width: 50%;

    &__Fc {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin: 1rem 2.5rem .5rem 0;
    }
}

.formContainer,
form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
    height: 1.75rem;
    max-width: 15rem;
    background-color: #FDFDFD;

    &__placehold {
        display: flex;
        height: inherit;
        width: inherit;
    }
}

.rowTwoWrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 1rem;
}

.socialMedia {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: 50%;


    &__iconWrapper {
        display: flex;
        flex-direction: row;

        &-icon {
            margin-right: .5rem;
        }

        &-icon:last-of-type {
            margin-right: 0;
        }
    }
}
