.MainContainer {
    background: var(--color-background-main);
    display: grid;
    grid-template-rows: 50vh 10vh repeat(3, min-content) minmax(25vh, auto) repeat(3, min-content);
    grid-template-columns: [full-start] auto [center-start] repeat(7, [col-start] minmax(min-content, 5rem)[col-end]) [center-end] auto [full-end];
}

